
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f7f9fc;
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #556b8c;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}


#about-me {
    padding: 50px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-container img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


#my-works {
    background-color: #fff;
    padding: 50px;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.work-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.work-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #556b8c;
    text-align: center;
    font-weight: bold;
}


#contact {
    background-color: #f7f9fc;
    padding: 50px;
    text-align: center;
}

form {
    display: inline-block;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #556b8c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #455a74;
}


footer {
    background-color: #556b8c;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
}
